body {
    background: #171717;
}

#hero {
    background: url("../images/maxim-hopman-52Kf36w124Y-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    filter: brightness(100%);
}

#backLayer {
    background: url("../images/maxim-hopman-52Kf36w124Y-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    filter: brightness(50%) contrast(600%);
    opacity: 0.3;
}

#logo {
    height: 35vh;
    width: min-content;
    z-index: 2;
    filter: brightness(120%);
}

::-webkit-scrollbar {
    width: 0;
}

#heroIntro {
    position: absolute;
    inset: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heroIntro > h1 {
    font-family: 'Amarante', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 105px;
    text-align: center;

    color: #FFFFFF;
}

#heroIntro > h1:nth-of-type(2) {
    font-size: 61px;
}

#heroIntro h3 {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
}

#heroIntro > div {
    display: flex;
    gap: 20px;
}

#heroFooter {
    width: 97vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 2%;
}

#heroFooter > h3 {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding-left: 30px;
    text-align: center;

    color: #FFFFFF;
    margin: 0;
}

#footerIMG {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

#footerIMG > img:nth-of-type(1) {
    width: 20px;
    height: 29px;
}

#footerIMG > img:nth-of-type(2) {
    width: 27px;
    height: 32px;
}

#footerIMG > img:nth-of-type(3) {
    width: 33px;
    height: 31px;
}

#name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    -webkit-text-stroke: 2px #78743C;
    color: transparent !important;

}

#nameDesc{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: #FFFFFF;
}
.aboutDeets>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 39px;;

    color: #FFFFFF;
}
.aboutDeets{
    display: inline-block;
}
.aboutDeets>h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
}

#ownerDP{
    width: 159px !important;
    height: 179px;
}

#aboutDesc{
    background: radial-gradient(50% 50% at 50% 50%, rgba(169, 163, 163, 0.14) 0%, rgba(199, 199, 199, 0) 100%);
}
#aboutDesc>div:first-of-type>div{
    width: 481px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.54);
}

#aboutDesc>div:first-of-type>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;

    color: #FFFFFF;
}
#aboutDesc>div:first-of-type>h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #D9D9D9;

}

#descPic{
    background: url("../images/SS-M1Seitegrau-2-scaled__1_-removebg-preview.png") center;
    background-size: cover;
    transform: rotate(71.99deg);
    width: 305.2px;
    height: 142.64px;
    position: relative;
    top: 40px;
}

.subDeets>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;

}
.subDeets>h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #D9D9D9;
}

#imgInk{
    width: 215px;
    height: 208px;

    background: url("../images/BLUE2_1_5807e2ce-0a34-43db-b619-b018d1f74b36-removebg-preview.png") center;
    background-size: cover;
    position: relative;
    bottom: 40px;
    right: 100px;
}

#imgDesigns{
    width: 96px;
    height: 126px;
    background: url("../images/mohammad-faruque-AgYOuy8kA7M-unsplash.jpg") center;
    background-size: cover;
}
#about{
    height: 100vh;
}

#galSec{
    border-left:  1px solid rgba(255, 255, 255, 0.54);
    border-right:  1px solid rgba(255, 255, 255, 0.54);
    height: 100vh;
    padding: 0;
    overflow: scroll;
}
#galDesc>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;

    color: #FFFFFF;
}
#galDesc>div{
    width:40%;
    border: 1px solid rgba(255, 255, 255, 0.54)
}

#galSec img{
    width: 100%;
    height: auto;
}

#galSec div{
    padding: 0;
    margin: 0;
}

/*.empty{*/
/*    width: 50%;*/
/*}*/